::-webkit-scrollbar{
    background: rgba(255, 0, 0, 0);
    width: 0.6rem;
    border-radius: 10rem;
}
::-webkit-scrollbar-thumb{
    background: rgba(97, 97, 97, 0.781);
    border-radius: 10rem;
}

body{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    scroll-behavior: smooth;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    /* background: linear-gradient(to right, rgba(255, 0, 0, 0.473),rgba(104, 55, 55, 0.342), rgb(0, 0, 0)); */
}
#sec::before{
    content: "";
    background: linear-gradient(to bottom , rgba(255, 0, 0, 0.329), rgba(0, 0, 255, 0.377));
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -12;
}
#logoMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25rem;
    height: 6rem;
    background-color: rgba(247, 0, 0, 0);
}

#MainOffLogo{
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 0.4rem;
}
#technicalTitle{
    width: 17rem;
    height: 2em;
    font: caption;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    /* background-color: red; */
}
#span{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(2, 255, 149));
    font: caption;
    font-weight: 700;
    font-variant: normal;
    text-decoration: none;
    font-size: 3rem;
    border-radius: 100%;
    transform: translate(4px, 7px);
    width: 0.5rem;
    height: 0.5rem;
}

/* Navigator Section  */
#navigator{
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    display: flex;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    /* width: 100%; */
    height: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#moreNavi{
    background-color: rgba(255, 0, 0, 0);
    width: 3rem;
    height: 2.5rem;
    /* backdrop-filter: blur(10px); */
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border:  1px solid rgb(173, 0, 0);

}
.divs{
    
    background: linear-gradient(to right, rgb(255, 63, 63) , rgb(112, 112, 245));
    width: 2.5rem;
    border-radius: 10rem;
    height: 0.3rem;
}
/* #navigator ul{
    color: white;
    text-decoration: none;
    display: flex;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    height: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */
.ancher{
    color: #dc9696;
    text-decoration: none;
    font: caption;
    height: 1.5rem;
}
#search_icon::after{
    content: "";
    border: 3px solid red;
    position: absolute;
    z-index: 12;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    transform: translate(-6px, -16px);
}
#search_icon::before{
    content: "";
    border-right: 3px solid red;
    position: absolute;
    z-index: 12;
    width: 1rem;
    height: 1rem;
    transform: rotateZ(-45deg);
}
#search_icon{
    width: 2rem;
    /* height: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(8px);
}
.ancher:hover{
    color: #c2b5b5;
    text-decoration: none;
    font: caption;
    border-bottom: 1px solid red;
}
/* Sec1 Section  */
#sec1{
    width: 100%;
    background: rgba(255, 0, 0, 0);
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
#parent1{
    width: 100%;
    min-height: 70vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
#slog{
    width: 60rem;
    /* background-color: red; */
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    color: #ff9eb3;
    font: caption;
    font-size: 4rem;
    font-weight: 700;
    /* background-color: white; */
    margin: 0px;

}
#downImageMain{
    width: 7rem;
    height: 7rem;
    

}
#MinorP{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60rem;
    /* height: 10rem; */
}
#aboutweb{
    width: 55rem;
    height: 7rem;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: wheat; */
}



/* Media quirries */
@media screen and (max-width: 1100px){
    #parent1{
        /* display: flex; */
        justify-content: space-evenly;
        flex-direction: column;
        /* border:  2px solid red; */
        width: 100%
    }
    #aboutweb{
        width: 55rem;
    }
}
@media screen and (max-width: 1000px){
    .ancher{
        display: none;
    }
    #slog{
        font-size: 3.6rem;
        margin: 0px;
        width: 56rem;
    }
    #aboutweb{
        font-size: 1.1rem;
        width: 48rem;
        margin: 0px;
    }
    #moreNavi{
        display: flex;
        margin-left:1rem;
        /* position: absolute; */
        /* right: 1rem; */
    }

    #navigator{
        justify-content: unset;
        width: 8rem;
    }
}
@media screen and (max-width: 925px){
    #MinorP{
        width: 40rem;
    }
    #slog{
        width: 40rem;
        font-size: 2.5rem;
    }
    #aboutweb{
        width: 33rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 625px){
    #MinorP{
        width: 25rem;
    }
    #slog{
        width: 25rem;
        text-align: center;
        /* border: 2px solid red; */
        font-size: 2.5rem;
        height: 6rem;
    }
    #aboutweb{
        width: 22rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 456px){
    #nav{
        flex-direction: column;
    }
    #logoMain{
        flex-direction: column;
        height: 10rem;
        margin-top: 1rem;
        /* border:  2px solid red; */
    }
    #MainOffLogo{
        width: 5rem;
        height: 5rem;
        /* margin: 1rem; */
    }
    #sec{
        /* border: 2px solid red; */
        height: 15rem;
        /* background: red; */
        justify-content: center;
        align-items: center;
    }
    #technicalTitle{
        width: 22rem;
        height: 2em;
        font: caption;
        font-weight: 600;
        text-decoration: none;
        font-size: 2.7rem;
        color: white;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        /* background-color: red; */
    }
    #navigator{
        width: 100%;
        height: 3rem;
        /* margin-left: 150%; */
        justify-content: space-around;
    }
    #sec1{
        height: 36rem;
    }
    #parent1{
        justify-content: unset;
    }
}
@media screen and (max-width: 400px){
    #technicalTitle{
        width:15rem;
        font-size: 1.8rem;
    }
    #MainOffLogo{
        width: 4rem;
        height: 4rem;
    }
    #slog{
        width: 12rem;
        height: 4rem;
        font-size: 1.3rem;
    }
    #aboutweb{
        width: 17rem;
        height: 17rem;
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;
    }
    #MinorP{
        width: 12rem;
    }
    #logoMain{
        width: 12rem;
    }
}
