::-webkit-scrollbar {
    background: transparent;
    width: 0.6rem;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(97, 97, 97, 0.781);
    border-radius: 10rem;
}
*{
    margin: 0;
    padding: 0;
}
#p1 {
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

#search {
    width: 16rem;
    height: 2rem;
    font: caption;
    font-weight: 300;
    color: white;
    display: none;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 2%;
    box-shadow: 0px 0px 1px 0.5px white;
    padding-left: 0.5rem;
}

#search::placeholder {
    color: white;
}

body {
    background: linear-gradient(90deg, red, blue);
    margin: 0px;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

#sec {
    height: 6rem;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    position: fixed;
    transition: 0.5s;
    z-index: 12;
    background-color: rgba(0, 17, 255, 0.466);
    backdrop-filter: blur(120px);
    position: relative;
    user-select: none;    
}

#sec::before {
    content: "";
    background:rgba(255, 1, 1, 0.322);
    width: 100%;
    height: 27rem;
    position: absolute;
    z-index: -12;
}

#logoMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25rem;
    height: 6rem;
    background-color: rgba(247, 0, 0, 0);
}

#MainOffLogo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 0.4rem;
    background-image: url(/Files/Logo\ for\ Web\ Site\ Title.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#technicalTitle {
    width: 17rem;
    height: 2em;
    font: caption;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#span {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(2, 255, 149));
    font: caption;
    font-weight: 700;
    font-variant: normal;
    text-decoration: none;
    font-size: 3rem;
    border-radius: 100%;
    transform: translate(4px, 7px);
    width: 0.5rem;
    height: 0.5rem;
}

/* Navigator Section  */
#navigator {
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    display: flex;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    height: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#moreNavi {
    background-color: rgba(255, 0, 0, 0);
    width: 3rem;
    height: 2.5rem;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(173, 0, 0);

}

.divs {
    background: linear-gradient(to right, rgb(255, 63, 63), rgb(112, 112, 245));
    width: 2.5rem;
    border-radius: 10rem;
    height: 0.3rem;
}

.ancher {
    color: #dc9696;
    text-decoration: none;
    font: caption;
    height: 1.5rem;
}

#search_icon::after {
    content: "";
    border: 3px solid red;
    position: absolute;
    z-index: 12;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    transform: translateY(7px) translate(-6px, -16px);
}

#search_icon::before {
    content: "";
    border-right: 3px solid red;
    position: absolute;
    z-index: 12;
    width: 1rem;
    height: 1rem;
    transform: translateY(8px) rotateZ(-48deg);
}

#search_icon {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(8px);
}

.ancher:hover {
    color: #c2b5b5;
    text-decoration: none;
    font: caption;
    border-bottom: 1px solid red;
}
a {
    cursor: pointer;
}

/* sec1 Section */

#sec1{
    width: 100%;
    height: 60rem;
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
    user-select: none;    
}
#slide{
    background-color: rgba(255, 255, 255, 0.144);
    border: 1px solid rgb(255, 255, 255);
    width: 50rem;
    height: 50rem;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
}
#SoftwareDetailsContains{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 8rem;
    background-color: rgba(255, 0, 0, 0.288);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: default;
}
h1{
    cursor: default;
}
#SoftwareIMG{
    width: 6rem;
    height: 6rem;
    position: relative;
    background-image: url(/Files/chrome-Google_Chrome_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#SoftwareIMG::after{
position: absolute;
z-index: -12;
width: 110%;
height: 110%;
background: linear-gradient(to right, rgb(127, 118, 255), rgb(62, 255, 120), yellow, pink, orange);
content: "";
border-radius: 100%;
background-size: cover;
background-position: center;
    animation: animate2 1s linear reverse infinite;
}
@keyframes animate2{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
        
    }
}
@keyframes animate3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        
    }
}
#SoftwareNameVersionContains{
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
#div1{
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 3rem;
    align-items: center;

}
#SoftwareName{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 17rem;
    height: 2.4rem;
    font: caption;
    font-size: 2.2rem;
    font-weight: 700;
    
}
#SoftwareForOS{
    font: caption;
    font-size: 1rem;
    font-weight: 500;
    width: 6rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#OSIMG{
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(/Files/Windows.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    
}
#div2{
    display: flex;
    justify-content: center;
    width: 19rem;
    height: 2rem;
    align-items: center;
}
#SoftwareCategory{
    font: caption;
    font-weight: 500;
    font-size: 1rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SoftwareSize{
    font: caption;
    font-weight: 500;
    font-size: 1rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SoftwareSecure{
    font: caption;
    font-weight: 500;
    font-size: 1rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tick1{
    width: 1rem;
    height: 1rem;
    background: url(/Files/tick.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

/* Download BTN Section  */
#downloadBTNP{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10rem;
}
#DownloadBTN{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 16rem;
    height: 4rem;
    background-color: rgb(82, 200, 255);
    text-decoration: none;
    font: caption;
    font-size: 2rem;
    color: white;
    font-weight: 800;
    /* border: 2px solid red; */
    border-radius: 4rem;
    user-select: none;    
}
#DownloadBTN::before{
position: absolute;
content: "";
background: linear-gradient(to right, rgb(127, 118, 255), rgb(62, 255, 120), yellow, pink, orange);
z-index: 12;
width: 104%;
height: 114%;
border-radius: 4rem;
z-index: -1;
animation: animate 1s linear infinite;
}
@keyframes animate {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

/* Software Specs Section  */
#AppSpecs{
    height: 15rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.HeadTextSoftwareSpecs{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    font: caption;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.164);
}
#threemainp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: 13rem;
    /* background: red; */

}
.threeDetails{
    width: 45%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex-direction: column;
}
.specsItems{
    width: 90%;
    display: flex;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 2rem;
    justify-content: space-evenly;
    align-items: center;
    font: caption;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0%;
}
.threeDetails1{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* flex-direction: column; */
}
.platforms1{
    width: 12rem;
    display: flex;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    font: caption;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0%;
}
#threemainp1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: 4rem;

}
#androidIMG{
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(/Files/androidICON.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100);
}
#MacIMG{
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(/Files/AppleIcon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(100);
}
#AppleIMG{
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(/Files/IOS.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100);
}



/* Media Quirries  */
@media screen and (max-width: 1000px){
    #slide{
        width: 650px;
    }
}


@media screen and (max-width: 720px){
    .ancher{
        display: none;
    }
    #moreNavi{
        display: flex;
    }
    #slide{
        border-radius: 0px;
        border: none;
    }
    #SoftwareNameVersionContains{
        width: 69%;
    }
}


@media screen and (max-width: 580px){
    #threemainp{
        height: 29rem;
        flex-direction: column;
        justify-content: center;
    }
    #AppSpecs{
        height: auto;
    }
    #slide{
        height: auto;
    }
    .threeDetails1{
        flex-wrap: wrap;
        height: auto;
    }
    #threemainp1{
        height: auto;
    }
    .platforms1{
        margin: 0.5rem;
    }
    #technicalTitle{
        font-size: 1.4rem;
        width: 12rem;
    }
    #MainOffLogo{
        width: 3rem;
        height: 3rem;
    }
    #logoMain{
        width: 18rem;
        /* background-color: rgb(83, 83, 69); */
    }
    #navigator{
        /* background-color: rgb(0, 0, 0); */
        width: 14rem;
        margin: 0px;
        position: absolute;
        right: 0%;
    }
    #nav{
justify-content: unset;
width: 100%;
}
#SoftwareIMG{
    width: 4rem;
        height: 4rem;
    }
    #div1{
        /* background-color: red; */
        height: 1rem;
        width: 18rem;
    }
    #SoftwareDetailsContains{
        /* background-color: yellow; */
        border-radius: 0px;
        height: 6rem;
    }
    #SoftwareNameVersionContains{
        align-items: center;

    }
    #div2{
        width: 90%;
    }
    #SoftwareForOS{
        display: flex;
        width: 4.5rem;
        position: relative;
        font-size: 0.7rem;
        
    }
    #SoftwareName{
        width: 11.3rem;
        font-size: 1.4rem;
        /* background-color: rgb(8, 8, 8); */
    }
    #OSIMG{
        display: flex;
        width: 0.7rem;
        height: 0.7rem;
    }
    #SoftwareCategory{
        font-size: 0.8rem;
    }
    #SoftwareSize{
        font-size: 0.8rem;
    }
    #SoftwareSecure{
        font-size: 0.8rem;
    }
    #tick1{
        width: 0.8rem;
        height: 0.8rem;
        margin-top: 0.01rem;
    }
    .specsItems{
        font-size: 0.8rem;
    }
    .platforms1{
        font-size: 0.8rem;
    }
    .HeadTextSoftwareSpecs{
        font-size: 0.8rem;
        
    }
}
    @media screen and (max-width: 470px){
        #search_icon{
            display: none;
        }
        #navigator{
            width: 4rem;
            /* background-color: red; */
            height: auto;
        }
    }